.App {
  background-color: #282c34;
  min-height: 100vh; 
  display: flex; 
  flex-direction: column;
  color: white;
}

.App-logo {
 float: right;
 margin-right: 25px;

}

.App-header {
  text-align: center;
  font-size: calc(10px + 2vmin);

}

.App-link {
  color: #61dafb;
}

.App-main {
  height: 454px;
  padding-left: 20px;
}
.App-navigation {
  font-size: calc(3px + 2vmin);
  font-weight: bold;
  text-align: left;
  margin-top: 20px;
  padding-left: 20px;
  
}

.App-footer {
  text-align: center;
}


table.productList-table{
  width:70%;
  border-collapse: collapse;
  font-family: "Times New Roman", Times, serif;
  font-size: 16px;
  color: black;
}

table.productList-table th, td{
  border-bottom: 1px solid #ddd;
      
  /* border: 1px solid black; */
  padding: 5px;
  text-align: left; 
    }

    table.productList-table thead{
      background-color: #828282;
      color: wheat;
    }
    table.productList-table tbody{
      background-color: #bfbaba;
    }

div hr{
border: 1;
border-color: deepskyblue
}

.content-title{
  font-size: calc(5px + 2vmin);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }

}
